
<div class="row mt-5">
  <div class="col-md-12">
    <h3 class="twext-center">Sign In</h3>
    <form [formGroup]="formCustom" (ngSubmit)="loginUser()">
      <div class="mb-3">
        <label for="emailAddress" class="form-label">Email address</label>
        <input type="email" class="form-control" id="emailAddress" formControlName="emailAddress">
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" formControlName="password">
      </div>
      <div class="mb-3">
        If you don't have an account go to <a routerLink="/auth/register">register an account</a>
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="formCustom.invalid">Submit credentials</button>
    </form>
  </div>
</div>


