<table class="table" *ngIf="appointments.length">
  <thead>
    <tr>
      <th scope="col">Client</th>
      <th scope="col">Appointment Date</th>
      <th scope="col">Time</th>
      <th scope="col">Phone Number</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let appointment of appointments | sortAppointments">
      <td>{{appointment.clientName}}</td>
      <td>{{appointment.appointmentDate | date:'mediumDate'}}</td>
      <td>{{appointment.appointmentTime}}</td>
      <td>{{appointment.phoneNumber}}</td>
      <td [ngClass]="{'pending-status': appointment.status === 'pending', 'completed-status': appointment.status === 'completed', 'canceled-status': appointment.status === 'canceled'}">{{appointment.status | titlecase}}</td>
    </tr>
  </tbody>
</table>

<div class="alert alert-warning" *ngIf="!appointments.length">
  There is not appointments.
</div>
