/* You can add global styles to this file, and also import other style files */
.pending-status {
  color: #F9D54D;
}

.completed-status {
  color: #79BC28;
}

.canceled-status {
  color: #28BCB1;
}

